body{
    background-color: cadetblue;
}

.sarlavha{
    background-color: brown;
    color: white;
    font-size: 50px;
    width: 500px;
    height: 100px;
    margin: 20px auto;
    padding: 20px 60px;
    box-sizing: border-box;
}

.nol{
    width: 850px;
    height:560px;
    background-color: black;
    border: 8px solid red;
    margin: 80px auto;
}   

.bir{
    background-color: aqua;
    margin: 50px  auto;
    width: 740px;
    height: 170px;
    text-align: center;
    font-size: 25px;
    padding-top: 35px;
    border: blue solid 2px;
}

